<header class="header-container">
  <nav class="menu">
    <img src="assets/logo-playup.png" alt="Logo" class="logo" />
    <ul>
      <li><a routerLink="/vendedor/listagem" routerLinkActive="active">Lista de clientes</a></li>
      <li><a routerLink="/vendedor/consultar-clientes" routerLinkActive="active">Consultar clientes</a></li>
      <li><a routerLink="/vendedor/listagem-jogos" routerLinkActive="active">Lista de jogos</a></li>
      <li><a routerLink="/vendedor/cadastrar-jogos" routerLinkActive="active">Cadastrar jogos</a></li>
      <li><a routerLink="/vendedor/consultar-jogos" routerLinkActive="active">Consultar os jogos</a></li>
      <li><a routerLink="/" routerLinkActive="active">Sair</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
